<script src="~/Areas/General/Business/ProjectSectionRecoupmentsReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionRecoupmentsReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionRecoupments-Report" class="row">

</div>