<script src="~/Areas/ProjectDevision/Business/ProjectSectionTemproryBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionTemprory" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSectionTemprory" class="row">

</div>

<div id="FormList-ProjectSectionTemprory" class="row">

</div>

<br />

<div id="Delivery-ProjectSectionTemprory">
    
</div>