<script src="~/Areas/ProjectDevision/Business/ProjectSectionStatementConfirmBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionStatementConfirm" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionStatementConfirm" class="row popup-container">

</div>

<div id="FormList-ProjectSectionStatementConfirm" class="row">

</div>