<script src="~/Areas/General/Business/ProjectAllocatesReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectAllocatesReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectAllocates-Report" class="row">

</div>