<script src="~/Areas/General/Business/ProjectSectionsReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionsReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSections-Report" class="row">

</div>