<script src="~/Areas/General/Business/ProjectSectionProjectProgressReportBusiness.js"></script>
<input type="hidden" id="permission-ProjectSectionProjectProgressReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionProjectProgressReport-Report" class="row">

</div>
