<script src="~/Areas/General/Business/ProjectSectionFinalParticipantsReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionFinalParticipantsReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionFinalParticipants-Report" class="row">

</div>