<script src="~/Areas/ProjectDevision/Business/ProjectSectionComplementarityDateBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionComplementarityDate" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionComplementarityDate" class="row popup-container">

</div>

<div id="FormList-ProjectSectionComplementarityDate" class="row">

</div>