<script src="~/Areas/BaseInformation/Business/CreditProvidePlaceBusiness.js"></script>

<input type="hidden" id="permission-CreditProvidePlace" value='@ViewBag.Permission' />

<div id="FormContainer-CreditProvidePlace" class="row popup-container">

</div>

<div id="FormList-CreditProvidePlace" class="row">

</div>