<script src="~/Areas/BaseInformation/Business/CityBusiness.js"></script>

<input type="hidden" id="permission-City" value='@ViewBag.Permission' />

<div id="FormContainer-City" class="row popup-container">

</div>

<div id="FormList-City" class="row">

</div>