<script src="~/Areas/BaseInformation/Business/MajorTypeBusiness.js"></script>

<input type="hidden" id="permission-MajorType" value='@ViewBag.Permission' />

<div id="FormContainer-MajorType" class="row popup-container">

</div>

<div id="FormList-MajorType" class="row">

</div>