<script src="~/Areas/ProjectDevision/Business/ProjectSectionWinner4648Business.js"></script>

<input type="hidden" id="permission-ProjectSectionWinner4648" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionWinner4648" class="row popup-container">

</div>

<div id="FormList-ProjectSectionWinner4648" class="row">

</div>