<script src="~/Areas/BaseInformation/Business/RecoupmentTypeBusiness.js"></script>

<input type="hidden" id="permission-RecoupmentType" value='@ViewBag.Permission' />

<div id="FormContainer-RecoupmentType" class="row popup-container">

</div>

<div id="FormList-RecoupmentType" class="row">

</div>