<script src="~/Areas/General/Business/ProjectSectionMadeh46sReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionMadeh46sReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionMadeh46s-Report" class="row">

</div>