<script src="~/Areas/ProjectDevision/Business/ProjectSectionContractBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionContract" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionContract" class="row popup-container">

</div>