<script src="~/Areas/BaseInformation/Business/PlanTypeBusiness.js"></script>

<input type="hidden" id="permission-PlanType" value='@ViewBag.Permission' />

<div id="FormContainer-PlanType" class="row popup-container">

</div>

<div id="FormList-PlanType" class="row">

</div>