<script src="~/Areas/BaseInformation/Business/ContractorBusiness.js"></script>

<input type="hidden" id="permission-Contractor" value='@ViewBag.Permission' />

<div id="FormContainer-Contractor" class="row popup-container">

</div>

<div id="FormList-Contractor" class="row">

</div>