<script src="~/Areas/ProjectDefine/Business/ProjectAverageBusiness.js"></script>

<input type="hidden" id="permission-ProjectAverage" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectAverage" class="row popup-container">

</div>

<div id="FormList-ProjectAverage" class="row">

</div>