<script src="~/Areas/ProjectDefine/Business/ProjectFundingBusiness.js"></script>

<input type="hidden" id="permission-ProjectFunding" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectFunding" class="row popup-container">

</div>

<div id="FormList-ProjectFunding" class="row">

</div>