<script src="~/Areas/ProjectDevision/Business/ProjectSectionCorrespondenceBusiness.js"></script>


<br />

<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">مکاتبات</h3> </div>
    <div class="panel-body">


        <input type="hidden" id="permission-ProjectSectionCorrespondence" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSectionCorrespondence" class="row popup-container">

        </div>

        <div id="FormList-ProjectSectionCorrespondence" class="row">

        </div>


    </div>
</div>
