<script src="~/Areas/BaseInformation/Business/DocumentTypeBusiness.js"></script>

<input type="hidden" id="permission-DocumentType" value='@ViewBag.Permission' />

<div id="FormContainer-DocumentType" class="row popup-container">

</div>

<div id="FormList-DocumentType" class="row">

</div>