<script src="~/Areas/General/Business/ProjectSectionStatementPayReportBusiness.js"></script>
<input type="hidden" id="permission-ProjectSectionStatementPayReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionStatementPay-Report" class="row">

</div>