<script src="~/Areas/BaseInformation/Business/StatementTypeBusiness.js"></script>

<input type="hidden" id="permission-StatementType" value='@ViewBag.Permission' />

<div id="FormContainer-StatementType" class="row popup-container">

</div>

<div id="FormList-StatementType" class="row">

</div>