<script src="~/Areas/ProjectDevision/Business/ProjectSectionSupervisorVisitBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionSupervisorVisit" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionSupervisorVisit" class="row popup-container">

</div>

<div id="FormList-ProjectSectionSupervisorVisit" class="row">

</div>