<script src="~/Areas/ProjectDevision/Business/ProjectSectionCeremonialBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionCeremonial" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionCeremonial" class="row popup-container">

</div>

<div id="FormList-ProjectSectionCeremonial" class="row">

</div>