@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>سامانه مدیریت پروژه های عمرانی</title>

    <link href="~/Content/Styles/bootstrap-rtl2.css" rel="stylesheet" />
    <link href="~/Content/Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/grid.css" rel="stylesheet" />
    <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/ionicons.css" rel="stylesheet" />
    <link href="~/Content/Styles/style.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Utilities/Scripts/AjaxUtility.js"></script>

</head>
<body>
    <div id="Container">

    </div>


    <div class="content-alert" id="loading" style=" background-color:transparent;">
        <img src="/Utilities/Images/loading.gif" style=" width:110px; border-radius:50%; margin: auto; position: absolute; top:0px; bottom:0; right:0; left:0;" />
    </div>


    <script>    
        $(function () {
            LoadPartialView('GET', '/General/Account/_Login', '', '#Container');
        });
    </script>
</body>
</html>