<script src="~/Areas/ProjectDevision/Business/ProjectSectionFinalParticipantBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionFinalParticipant" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionFinalParticipant" class="row popup-container">

</div>

<div id="FormList-ProjectSectionFinalParticipant" class="row">

</div>