<script src="~/Areas/ProjectDevision/Business/ProjectSectionSupervisorMemberBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionSupervisorMember" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionSupervisorMember" class="row popup-container">

</div>

<div id="FormList-ProjectSectionSupervisorMember" class="row">

</div>