<script src="~/Areas/BaseInformation/Business/ExecutionTypeBusiness.js"></script>

<input type="hidden" id="permission-ExecutionType" value='@ViewBag.Permission' />

<div id="FormContainer-ExecutionType" class="row popup-container">

</div>

<div id="FormList-ExecutionType" class="row">

</div>