<script src="~/Areas/BaseInformation/Business/SetBusiness.js"></script>

<input type="hidden" id="permission-Set" value='@ViewBag.Permission' />

<div id="FormContainer-Set" class="row popup-container">

</div>

<div id="FormList-Set" class="row">

</div>