<script src="~/Areas/BaseInformation/Business/CommissionMemberBusiness.js"></script>

<input type="hidden" id="permission-CommissionMember" value='@ViewBag.Permission' />

<div id="FormContainer-CommissionMember" class="row popup-container">

</div>

<div id="FormList-CommissionMember" class="row">

</div>