<script src="~/Areas/BaseInformation/Business/ContractTypeBusiness.js"></script>

<input type="hidden" id="permission-ContractType" value='@ViewBag.Permission' />

<div id="FormContainer-ContractType" class="row popup-container">

</div>

<div id="FormList-ContractType" class="row">

</div>