<script src="~/Areas/ProjectDevision/Business/ProjectSectionPaidPriceListBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionPaidPriceList" value='@ViewBag.Permission' />


<div id="FormList-ProjectSectionPaidPriceList" class="row">

</div>


<div id="FormContainer-ProjectSectionPaidPriceCreate" class="row popup-container">

</div>