<script src="~/Areas/ProjectDevision/Business/ProjectSectionScheduleBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionSchedule" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionSchedule" class="row popup-container">

</div>

<div id="FormList-ProjectSectionSchedule" class="row">

</div>