<script src="~/Areas/ProjectDevision/Business/ProjectSectionMadeh48Business.js"></script>

<br />
<!-- ----------------- Start ProjectSectionMadeh48 ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">ماده 48</h3> </div>
    <div class="panel-body">


        <input type="hidden" id="permission-ProjectSectionMadeh48" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSectionMadeh48" class="row popup-container">

        </div>


    </div>
</div>
