<script src="~/Areas/BaseInformation/Business/AccountTypeBusiness.js"></script>

<input type="hidden" id="permission-AccountType" value='@ViewBag.Permission' />

<div id="FormContainer-AccountType" class="row popup-container">

</div>

<div id="FormList-AccountType" class="row">

</div>