<script src="~/Areas/BaseInformation/Business/LevelTypeBusiness.js"></script>

<input type="hidden" id="permission-LevelType" value='@ViewBag.Permission' />

<div id="FormContainer-LevelType" class="row popup-container">

</div>

<div id="FormList-LevelType" class="row">

</div>