<script src="~/Areas/ProjectDevision/Business/ProjectSectionMadeh46Business.js"></script>


<br />
<!-- ----------------- Start ProjectSectionMadeh46 ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">ماده 46</h3> </div>
    <div class="panel-body">

        <input type="hidden" id="permission-ProjectSectionMadeh46" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSectionMadeh46" class="row popup-container">

        </div>


    </div>
</div>
