<script src="~/Areas/General/Business/ProjectSectionDepositeLiberalizationsReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionDepositeLiberalizationsReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionDepositeLiberalizations-Report" class="row">

</div>