<script src="~/Areas/ProjectDevision/Business/ProjectSectionAdvisorMemberBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionAdvisorMember" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionAdvisorMember" class="row popup-container">

</div>

<div id="FormList-ProjectSectionAdvisorMember" class="row">

</div>