<link rel="stylesheet" href="~/Content/fileUpload/blueimp-gallery.min.css">
<link rel="stylesheet" href="~/Content/fileUpload/jquery.fileupload.css">
<link rel="stylesheet" href="~/Content/fileUpload/jquery.fileupload-ui.css">
<div style="clear:both"></div>

<form id="ProjectSectionTender-fileupload" action="/ProjectDevision/ProjectSectionTender/UploadFile" method="POST" enctype="multipart/form-data">
    <br />
    <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button" style="margin-right:20px;">
                <i class="glyphicon glyphicon-plus"></i>
                <span>افزودن فایل</span>
                <input type="file" name="files[]" multiple>
            </span>
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped" style="margin-bottom:0"><tbody class="files"></tbody></table>
</form>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">درحال پردازش...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>آپلود</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>انصراف</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    
    <tr class="template-download fade">
        <td>
            <input type="hidden" class="ProjectSectionTenderFiles" value="{%=file.imageId%}" />
            <span class="preview">
                @*<video width="320" height="240" controls>
                    <source src="{%=file.thumbnail_url%}" type="{%=file.type %}">
                </video>*@
                {% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnail_url%}" style="max-width:120px; max-height:80px"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnail_url?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td style="width:160px;">
            {% if (file.delete_url) { %}
            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>حذف</span>
            </button>
            @*<input type="checkbox" name="delete" value="1" class="toggle">*@
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>انصراف</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<br />

<script src="~/Scripts/fileUpload/tmpl.min.js"></script>
<script src="~/Scripts/fileUpload/vendor/jquery.ui.widget.js"></script>
<script src="~/Scripts/fileUpload/load-image.all.min.js"></script>
<script src="~/Scripts/fileUpload/canvas-to-blob.min.js"></script>
<script src="~/Scripts/fileUpload/jquery.blueimp-gallery.min.js"></script>
<script src="~/Scripts/fileUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload-process.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload-image.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload-audio.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload-video.js"></script>
<script src="~/Scripts/fileUpload/jquery.fileupload-validate.js"></script>
<script src="~/Scripts/fileUpload/main.js"></script>
