<script src="~/Areas/ProjectDevision/Business/ProjectSectionTenderBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionTender" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionTender" class="row popup-container">

</div>

<div id="FormList-ProjectSectionTender" class="row">

</div>