<script src="~/Areas/ProjectDevision/Business/ProjectSectionLiberalizationBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionLiberalization" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSectionLiberalization" class="row">

</div>

<div id="FormList-ProjectSectionLiberalization" class="row">

</div>

<br />

<div id="Delivery-ProjectSectionLiberalization">
    
</div>