<script src="~/Areas/BaseInformation/Business/VillageBusiness.js"></script>

<input type="hidden" id="permission-Village" value='@ViewBag.Permission' />

<div id="FormContainer-Village" class="row popup-container">

</div>

<div id="FormList-Village" class="row">

</div>