<script src="~/Areas/BaseInformation/Business/ResourceBusiness.js"></script>

<input type="hidden" id="permission-Resource" value='@ViewBag.Permission' />

<div id="FormContainer-Resource" class="row popup-container">

</div>

<div id="FormList-Resource" class="row">

</div>