<script src="~/Areas/General/Business/ReportBusiness.js"></script>
<input type="hidden" id="permission-ReportReport" value='@ViewBag.Permission' />


<div id="FormSearch-Report" class="row">

</div>

<div id="Report-Report" class="row">

</div>
