<script src="~/Areas/ProjectDevision/Business/ProjectSectionFixedBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionFixed" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSectionFixed" class="row">

</div>

<div id="FormList-ProjectSectionFixed" class="row">

</div>

<br />

<div id="Delivery-ProjectSectionFixed">
    
</div>