<script src="~/Areas/ProjectDevision/Business/ProjectSectionComplementarityPriceBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionComplementarityPrice" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionComplementarityPrice" class="row popup-container">

</div>

<div id="FormList-ProjectSectionComplementarityPrice" class="row">

</div>