<script src="~/Areas/ProjectDevision/Business/ProjectSectionLetterBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionLetter" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSectionLetter" class="row">

</div>

<div id="FormList-ProjectSectionLetter" class="row">

</div>

<br />

<div id="Delivery-ProjectSectionLetter">
    
</div>