<script src="~/Areas/General/Business/ProjectPlansReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectPlansReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectPlans-Report" class="row">

</div>