<script src="~/Areas/ProjectDevision/Business/ProjectSectionInquiryBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionInquiry" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionInquiry" class="row popup-container">

</div>

<div id="FormList-ProjectSectionInquiry" class="row">

</div>