<script src="~/Areas/BaseInformation/Business/StateBusiness.js"></script>

<input type="hidden" id="permission-State" value='@ViewBag.Permission' />

<div id="FormContainer-State" class="row popup-container">

</div>

<div id="FormList-State" class="row">

</div>