<script src="~/Areas/ProjectDevision/Business/ProjectSectionAdvisorVisitBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionAdvisorVisit" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionAdvisorVisit" class="row popup-container">

</div>

<div id="FormList-ProjectSectionAdvisorVisit" class="row">

</div>