<script src="~/Areas/ProjectDevision/Business/ProjectSectionPrintDraftBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionPrintDraft" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionPrintDraft" class="row popup-container">
    
</div>
