<script src="~/Areas/BaseInformation/Business/ProjectTypeBusiness.js"></script>

<input type="hidden" id="permission-ProjectType" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectType" class="row popup-container">

</div>

<div id="FormList-ProjectType" class="row">

</div>