<script src="~/Areas/ProjectDevision/Business/ProjectSectionDraftBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionDraft" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionDraft" class="row popup-container">

</div>

<div id="FormList-ProjectSectionDraft" class="row">

</div>
