<script src="~/Areas/General/Business/ProjectsReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectsReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="Projects-Report" class="row">

</div>