<script src="~/Areas/ProjectDefine/Business/ProjectAllocateDetailBusiness.js"></script>

<br />

<!-- ----------------- Start AllocateDetail ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">تخصیص بودجه</h3> </div>
    <div class="panel-body">

        <input type="hidden" id="permission-ProjectAllocateDetail" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectAllocateDetail" class="row popup-container">

        </div>

        <div id="FormList-ProjectAllocateDetail" class="row">

        </div>

    </div>
</div>