<script src="~/Areas/General/Business/ProjectSectionMadeh48sReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionMadeh48sReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionMadeh48s-Report" class="row">

</div>