<script src="~/Areas/ProjectDevision/Business/ProjectSection46Business.js"></script>

<input type="hidden" id="permission-ProjectSection46" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSection46" class="row">

</div>

<div id="FormList-ProjectSection46" class="row">

</div>

<br />

<div id="Delivery-ProjectSection46">
    
</div>