<script src="~/Areas/ProjectDevision/Business/ProjectSectionGovermentWorthyDocumentsPaidPriceBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionGovermentWorthyDocumentsPaidPrice" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionGovermentWorthyDocumentsPaidPrice" class="row popup-container">

</div>

<div id="FormList-ProjectSectionGovermentWorthyDocumentsPaidPrice" class="row">

</div>
