<script src="~/Areas/General/Business/ProjectSectionSupervisorVisitsReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionSupervisorVisitsReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionSupervisorVisits-Report" class="row">

</div>