<script src="~/Areas/ProjectDevision/Business/ProjectSectionDeliveryFixdBusiness.js"></script>

<br />
<!-- ----------------- Start ProjectSectionDeliveryTemprory ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">تحویل قطعی</h3> </div>
    <div class="panel-body">


        <input type="hidden" id="permission-ProjectSectionDeliveryFixd" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSectionDeliveryFixd" class="row popup-container">

        </div>

        <div id="FormList-ProjectSectionDeliveryFixd" class="row">

        </div>


    </div>
</div>
