<script src="~/Areas/BaseInformation/Business/DeductionPercentBusiness.js"></script>

<input type="hidden" id="permission-DeductionPercent" value='@ViewBag.Permission' />

<div id="FormContainer-DeductionPercent" class="row popup-container">

</div>

<div id="FormList-DeductionPercent" class="row">

</div>