<script src="~/Areas/ProjectDevision/Business/ProjectSection48Business.js"></script>

<input type="hidden" id="permission-ProjectSection48" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSection48" class="row">

</div>

<div id="FormList-ProjectSection48" class="row">

</div>

<br />

<div id="Delivery-ProjectSection48">
    
</div>