<script src="~/Areas/General/Business/ProjectSectionContractAmendmentReportBusiness.js"></script>
<input type="hidden" id="permission-ProjectSectionContractAmendmentReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionContractAmendment-Report" class="row">

</div>