<script src="~/Areas/ProjectDefine/Business/ProjectAllocateBusiness.js"></script>

<input type="hidden" id="permission-ProjectAllocate" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectAllocate" class="row">

</div>

<div id="FormList-ProjectAllocate" class="row">

</div>

<br />
<div id="ProjectAllocateDetail-ProjectAllocate">

</div>