<script src="~/Areas/BaseInformation/Business/ProgramBusiness.js"></script>

<input type="hidden" id="permission-Program" value='@ViewBag.Permission' />

<div id="FormContainer-Program" class="row popup-container">

</div>

<div id="FormList-Program" class="row">

</div>