<script src="~/Areas/General/Business/MemberBusiness.js"></script>

<input type="hidden" id="permission-Member" value='@ViewBag.Permission' />


<div id="FormContainer-Member" class="row popup-container">

</div>

<div id="FormList-Member" class="row">

</div>