<script src="~/Areas/General/Business/ProgramPlansReportBusiness.js"></script>

<input type="hidden" id="permission-ProgramPlansReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProgramPlans-Report" class="row">

</div>