<script src="~/Areas/BaseInformation/Business/ResourceTypeBusiness.js"></script>

<input type="hidden" id="permission-ResourceType" value='@ViewBag.Permission' />


<div id="FormContainer-ResourceType" class="row popup-container">

</div>

<div id="FormList-ResourceType" class="row">

</div>