<script src="~/Areas/ProjectDevision/Business/ProjectSectionOpenDateBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionOpenDate" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionOpenDate" class="row popup-container">

</div>

<div id="FormList-ProjectSectionOpenDate" class="row">

</div>