<script src="~/Areas/BaseInformation/Business/InvestmentChapterTypeBusiness.js"></script>

<input type="hidden" id="permission-InvestmentChapterType" value='@ViewBag.Permission' />


<div id="FormContainer-InvestmentChapterType" class="row popup-container">

</div>

<div id="FormList-InvestmentChapterType" class="row">

</div>