<script src="~/Areas/ProjectDevision/Business/ProjectSectionOperationTitleBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionOperationTitle" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionOperationTitle" class="row popup-container">

</div>

<div id="FormList-ProjectSectionOperationTitle" class="row">

</div>