<script src="~/Areas/ProjectDevision/Business/ProjectSectionBusiness.js"></script>

<!-- ----------------- Start ProjectSection ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">برنامه ریزی فازهای پروژه</h3> </div>
    <div class="panel-body">

        <input type="hidden" id="permission-ProjectSection" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSection" class="row popup-container">

        </div>

        <div id="FormList-ProjectSection" class="row">

        </div>
    </div>
</div>