<script src="~/Areas/ProjectDefine/Business/ProjectProgrammingBusiness.js"></script>

<input type="hidden" id="permission-ProjectProgramming" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectProgramming" class="row">

</div>

<div id="FormList-ProjectProgramming" class="row">

</div>

<br />
<div id="ProjectSection-ProjectProgramming">

</div>

