<script src="~/Areas/BaseInformation/Business/SectionBusiness.js"></script>

<input type="hidden" id="permission-Section" value='@ViewBag.Permission' />

<div id="FormContainer-Section" class="row popup-container">

</div>

<div id="FormList-Section" class="row">

</div>