<script src="~/Areas/ProjectDefine/Business/ProjectBusiness.js"></script>

<input type="hidden" id="permission-Project" value='@ViewBag.Permission' />

<div id="FormContainer-Project" class="row popup-container">

</div>

<div id="FormList-Project" class="row">

</div>
