<script src="~/Areas/BaseInformation/Business/RuralDistrictBusiness.js"></script>

<input type="hidden" id="permission-RuralDistrict" value='@ViewBag.Permission' />

<div id="FormContainer-RuralDistrict" class="row popup-container">

</div>

<div id="FormList-RuralDistrict" class="row">

</div>