<script src="~/Areas/ProjectDevision/Business/ProjectSectionPaidPriceBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionPaidPrice" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionPaidPrice" class="row popup-container">

</div>

<div id="FormList-ProjectSectionPaidPrice" class="row">

</div>



<style>
    #cpb .popup-box {
        width: 80% !important;
        height: 650px !important;
    }

    #cpb .popup-box-main {
        padding: 10px 40px;
    }
</style>