<script src="~/Areas/BaseInformation/Business/UnitBusiness.js"></script>

<input type="hidden" id="permission-Unit" value='@ViewBag.Permission' />

<div id="FormContainer-Unit" class="row popup-container">

</div>

<div id="FormList-Unit" class="row">

</div>