<script src="~/Areas/General/Business/ProjectSectionDeliveryTemproriesReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionDeliveryTemproriesReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionDeliveryTemprories-Report" class="row">

</div>