<script src="~/Areas/ProjectDevision/Business/ProjectSectionStatementConfirmListBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionStatementConfirmList" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionStatementConfirmList" class="row popup-container">

</div>

<div id="FormList-ProjectSectionStatementConfirmList" class="row">

</div>