<script src="~/Areas/BaseInformation/Business/FinantialYearBusiness.js"></script>

<input type="hidden" id="permission-FinantialYear" value='@ViewBag.Permission' />

<div id="FormContainer-FinantialYear" class="row popup-container">

</div>

<div id="FormList-FinantialYear" class="row">

</div>