<script src="~/Areas/ProjectDevision/Business/ProjectSectionDeliveryTemproryBusiness.js"></script>
<br />
<!-- ----------------- Start ProjectSectionDeliveryTemprory ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">تحویل موقت</h3> </div>
    <div class="panel-body">


        <input type="hidden" id="permission-ProjectSectionDeliveryTemprory" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSectionDeliveryTemprory" class="row popup-container">

        </div>

        <div id="FormList-ProjectSectionDeliveryTemprory" class="row">

        </div>


    </div>
</div>
