<script src="~/Areas/ProjectDevision/Business/ProjectSectionProductBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionProduct" value='@ViewBag.Permission' />


<div id="FormContainer-ProjectSectionProduct" class="row popup-container">

</div>

<div id="FormList-ProjectSectionProduct" class="row">

</div>

<style>
    #cpb .popup-box {
        width: 80% !important;
        height: 650px !important;
    }

    #cpb .popup-box-main {
        padding: 10px 40px;
    }
</style>