
<link href="/Utilities/Styles/treeview.css" rel="stylesheet" />
<script src="~/Areas/General/Business/RolePermissionBusiness.js"></script>

<input type="hidden" id="permission-Role" value='@ViewBag.Permission' />

<input type="hidden" id="RoleMaxLevel" value="@ViewBag.Level" />

<div id="FormContainer" class="row popup-container">
    
</div>


<div id="FormList" class="row">
    
</div>




