

<br /><br />


<form id="frm-Role" class="col-sm-6">
    <h4 style="color:#676666">گروه کاربری</h4>
    <hr style="width:50%; float:right;" />
    <div style="clear:both;"></div>

    <div class="treeview" id="treeview" style="min-height: 500px;">
        <!------------------------------------- Start Type Code ------------------------------------>
        <ul class="first-ul" id="RoleTree" style="min-width: 100px;"></ul>
        <!------------------------------------- End Type Code -------------------------------------->
    </div>
</form>




<form id="frm-Permission" class="col-sm-6">
    <h4 style="color: #676666">سطح دسترسی</h4>
    <hr style="width:50%; float:right;" />
    <div style="clear:both;"></div>

    <div class="treeview" id="treeviewPermission" style="min-height: 500px;">
        <!------------------------------------- Start Type Code ------------------------------------>
        <ul class="first-ul" id="PermissionTree" style="min-width: 100px;"></ul>
        <!------------------------------------- End Type Code -------------------------------------->
    </div>
</form>

