<script src="~/Areas/ProjectDevision/Business/ProjectSectionWinnerDegreeBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionWinnerDegree" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionWinnerDegree" class="row popup-container">

</div>

<div id="FormList-ProjectSectionWinnerDegree" class="row">

</div>