<script src="~/Areas/ProjectDefine/Business/ProjectInvestmentChapterBusiness.js"></script>

<input type="hidden" id="permission-ProjectInvestmentChapter" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectInvestmentChapter" class="row popup-container">

</div>

<div id="FormList-ProjectInvestmentChapter" class="row">

</div>