<script src="~/Areas/ProjectDevision/Business/ProjectSectionRecoupmentListBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionRecoupmentList" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSectionRecoupmentList" class="row">

</div>

<div id="FormList-ProjectSectionRecoupmentList" class="row">

</div>

<br />

<div id="Delivery-ProjectSectionRecoupmentList">
    
</div>