<script src="~/Areas/ProjectDevision/Business/ProjectSectionFinanceEvaluationBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionFinanceEvaluation" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionFinanceEvaluation" class="row popup-container">

</div>

<div id="FormList-ProjectSectionFinanceEvaluation" class="row">

</div>