<script src="~/Areas/ProjectDevision/Business/ProjectSectionWinnerBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionWinner" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionWinner" class="row popup-container">

</div>

<div id="FormList-ProjectSectionWinner" class="row">

</div>