<script src="~/Areas/General/Business/ProjectSectionDeliveryFixdesReportBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionDeliveryFixdesReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionDeliveryFixdes-Report" class="row">

</div>