<script src="~/Areas/ProjectDevision/Business/ProjectSectionRecoupmentBusiness.js"></script>


<br />
<!-- ----------------- Start ProjectSectionRecoupment ------------------------ -->
<div class="panel panel-primary">
    <div class="panel-heading"> <h3 class="panel-title">مفاصا حساب</h3> </div>
    <div class="panel-body">



        <input type="hidden" id="permission-ProjectSectionRecoupment" value='@ViewBag.Permission' />

        <div id="FormContainer-ProjectSectionRecoupment" class="row popup-container">

        </div>

        <div id="FormList-ProjectSectionRecoupment" class="row">

        </div>



    </div>
</div>