<script src="~/Areas/BaseInformation/Business/InvestmentChapterBusiness.js"></script>

<input type="hidden" id="permission-InvestmentChapter" value='@ViewBag.Permission' />

<div id="FormContainer-InvestmentChapter" class="row popup-container">

</div>

<div id="FormList-InvestmentChapter" class="row">

</div>