<script src="~/Areas/ProjectDefine/Business/ProjectQuantityGoalBusiness.js"></script>

<input type="hidden" id="permission-ProjectQuantityGoal" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectQuantityGoal" class="row popup-container">

</div>

<div id="FormList-ProjectQuantityGoal" class="row">

</div>