<script src="~/Areas/ProjectDefine/Business/ProgramPlanBusiness.js"></script>

<input type="hidden" id="permission-ProgramPlan" value='@ViewBag.Permission' />

<div id="FormContainer-ProgramPlan" class="row popup-container">

</div>

<div id="FormList-ProgramPlan" class="row">

</div>