<script src="~/Areas/ProjectDevision/Business/ProjectSectionStatementBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionStatement" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionStatement" class="row popup-container">

</div>

<div id="FormList-ProjectSectionStatement" class="row">

</div>