<script src="~/Areas/ProjectDevision/Business/ProjectSectionParticipantBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionParticipant" value='@ViewBag.Permission' />

<div id="FormContainer-ProjectSectionParticipant" class="row popup-container">

</div>

<div id="FormList-ProjectSectionParticipant" class="row">

</div>