<script src="~/Areas/ProjectDevision/Business/ProjectSectionAssignmentBusiness.js"></script>

<input type="hidden" id="permission-ProjectSectionAssignment" value='@ViewBag.Permission' />

<div id="FormSearch-ProjectSectionAssignment" class="row">

</div>

<div id="FormList-ProjectSectionAssignment" class="row">

</div>

<div id="FormTabs-ProjectSectionAssignment">
    <ul class="nav nav-pills" style="margin-top:10px;">
        <li id="lprojectSectionInquiry"><a data-toggle="pill" href="#projectSectionInquiry">اعلام استعلام</a></li>
        <li id="lprojectSectionTender"><a data-toggle="pill" href="#projectSectionTender">اعلام مناقصه</a></li>
        <li id="lprojectSectionCeremonial"><a data-toggle="pill" href="#projectSectionCeremonial">ترک تشریفات</a></li>
        <li id="lprojectSectionParticipant"><a data-toggle="pill" href="#projectSectionParticipant">شرکت کنندگان</a></li>
        <li id="lprojectSectionFinanceEvaluation"><a data-toggle="pill" href="#projectSectionFinanceEvaluation">ارزیابی فنی و مالی</a></li>
        <li id="lprojectSectionFinalParticipant"><a data-toggle="pill" href="#projectSectionFinalParticipant">شرکت کنندگان نهایی</a></li>
        <li id="lprojectSectionOpenDate"><a data-toggle="pill" href="#projectSectionOpenDate">تاریخ بازگشایی</a></li>
        <li id="lprojectSectionWinner"><a data-toggle="pill" href="#projectSectionWinner">انتخاب برنده</a></li>
        <li id="lprojectSectionWinnerDegree"><a data-toggle="pill" href="#projectSectionWinnerDegree">مدارک برنده</a></li>
        <li id="lprojectSectionContract"><a data-toggle="pill" href="#projectSectionContract">قرارداد</a></li>
        <li id="lprojectSectionOperationTitle"><a data-toggle="pill" href="#projectSectionOperationTitle">عملیات های فاز پروژه</a></li>
        <li id="lprojectSectionComplementarityPrice"><a data-toggle="pill" href="#projectSectionComplementarityPrice">ماده 29</a></li>
        <li id="lprojectSectionComplementarityDate"><a data-toggle="pill" href="#projectSectionComplementarityDate">ماده 30</a></li>
    </ul>

    <div class="tab-content">
        <div id="projectSectionInquiry" class="tab-pane fade">
            <div id="ProjectSectionInquiry-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionTender" class="tab-pane fade">
            <div id="ProjectSectionTender-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionCeremonial" class="tab-pane fade">
            <div id="ProjectSectionCeremonial-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionParticipant" class="tab-pane fade">
            <div id="ProjectSectionParticipant-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionFinanceEvaluation" class="tab-pane fade">
            <div id="ProjectSectionFinanceEvaluation-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionFinalParticipant" class="tab-pane fade">
            <div id="ProjectSectionFinalParticipant-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionOpenDate" class="tab-pane fade">
            <div id="ProjectSectionOpenDate-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionWinner" class="tab-pane fade">
            <div id="ProjectSectionWinner-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionWinnerDegree" class="tab-pane fade">
            <div id="ProjectSectionWinnerDegree-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionContract" class="tab-pane fade">
            <div id="ProjectSectionContract-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionOperationTitle" class="tab-pane fade">
            <div id="ProjectSectionOperationTitle-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionComplementarityPrice" class="tab-pane fade">
            <div id="ProjectSectionComplementarityPrice-ProjectSectionAssignment"></div>
        </div>
        <div id="projectSectionComplementarityDate" class="tab-pane fade">
            <div id="ProjectSectionComplementarityDate-ProjectSectionAssignment"></div>
        </div>
    </div>
</div>