<script src="~/Areas/General/Business/ProjectSectionContractAmendmentDateReportBusiness.js"></script>
<input type="hidden" id="permission-ProjectSectionContractAmendmentDateReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="ProjectSectionContractAmendmentDate-Report" class="row">

</div>
