<script src="~/Areas/BaseInformation/Business/MonitoringTypeBusiness.js"></script>

<input type="hidden" id="permission-MonitoringType" value='@ViewBag.Permission' />

<div id="FormContainer-MonitoringType" class="row popup-container">

</div>

<div id="FormList-MonitoringType" class="row">

</div>