<script src="~/Areas/General/Business/ContractorReportBusiness.js"></script>

<input type="hidden" id="permission-ContractorReport" value='@ViewBag.Permission' />

<div id="FormSearch-Report" class="row">

</div>

<div id="Contractor-Report" class="row">

</div>