<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <location path="ProjectDefine/Project/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionInquiry/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionCeremonial/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionComplementarityDate/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionComplementarityPrice/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionFinalParticipant/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionTender/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionWinnerDegree/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionContract/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionSchedule/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionSupervisorVisit/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionAdvisorVisit/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionDeliveryTemprory/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionDeliveryFixd/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionDepositeLiberalization/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionMadeh46/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionMadeh48/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionCorrespondence/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionStatement/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionDraft/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionPaidPrice/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDefine/ProjectAllocateDetail/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionStatementConfirm/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDevision/ProjectSectionProduct/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <location path="ProjectDefine/ProjectFunding/UploadFile">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="720" />
  </system.web>
  <connectionStrings>
    <add name="ProjectManagement" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ProjectManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="forDelete" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ProjectManagementTest2;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>